<div class="post">
	{{#if image}}
	<div class="postTop" style="background: {{imageBackground}}">
		<img src="{{ image }}" alt="blog image">
	</div>
	{{/if}}
	<div class="postContent">
		<h3 class="postTitle">
			<a class="postLink" href="/{{toSlug slug}}">{{ title }}</a>
		</h3>
		<p class="postPreview">
			{{ body.short }}
		</p>
	</div> 
</div>