<div class="bodyWrapper content">
	{{#if posts}}
	<div class="section postsSection">
		<h2 class="title spread">
			<span class="mainTitle">{{ locale.posts.recent }}</span>
			<a class="moreLink" href="/posts">{{ locale.posts.showAll }}</a>
		</h2>
		<div class="posts oneRow">
			{{#each posts}}
			{{> post}}
			{{/each}}
		</div>
	</div>
	{{/if}}
	<div class="section projectSection">
		<h2 class="title spread">
			<span class="mainTitle">{{ locale.projects.recent }}</span>
			<a class="moreLink" href="/projects">{{ locale.projects.showAll }}</a>
		</h2>
		<div class="posts">
			{{#each projects}}
			{{> post}}
			{{/each}}
		</div>
		
	</div>
	<div class="section instagramSection">
		<h2 class="title spread">
			<span class="mainTitle">Instagram</span>
			<a class="moreLink" target="_blank" href="https://instagram.com/jipprogamer2006">View profile</a>
		</h2>
		<div class="posts igPosts">
			{{#each instagram}}
			<a class="instagramPost" href="{{url}}" target="_blank">
				<div class="instagramImage" style="background: url('{{src}}'), var(--border); background-size: contain; background-position: center; background-repeat: no-repeat;" alt="{{label}}"></div>
			</a>
			{{/each}}
		</div>
		
	</div>
</div>