<div class="content postWrapper">

	<link rel="stylesheet" href="/post.css">

	{{{getHighlightJs project.body.md}}}

	<div class="postMain">
		{{#if project.image}}
		<div class="postImage">
			<img src="{{#if project.banner}}{{ project.banner }}{{else}}{{ project.image }}{{/if}}" alt="Big hero image">
		</div>
		{{/if}}
		<div class="postContent subContent">
			{{{toHTML project.body.md}}}
		</div>
	</div>

	<div class="section postsSection">
		<h2 class="title spread">
			<span class="mainTitle">{{ locale.projects.recentOther }}</span>
			<a class="moreLink" href="/projects">{{ locale.projects.showAll }}</a>
		</h2>
		<div class="posts oneRow">
			{{#each projects}}
			{{> post}}
			{{/each}}
		</div>
	</div>

</div>